@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400&display=swap');
html {
  font-family: Zilla Slab, Georgia, "Times New Roman", sans-serif;
  font-size: 18px; /* 18 / 16 = 1.125 */
  line-height: 24px; /* 24 / 18 = 1.333333333333333 */
  padding: 24px; /* 24 / 18 = 1.333333333333333 */
  background:#606060;
  color: #DCDDDC;
}
h1 {
  font-family: Zilla Slab, Georgia, "Times New Roman", sans-serif;
  font-size: 40.008px; /* 34 / 18 = 1.888888888888889 */
  padding-top: 10px; /* 12 / 34 = 0.3529411764705882 */
  padding-bottom: 10px; /* 18 / 34 = 0.5294117647058824*/
  padding-left:8.637px;
}
header {
  background-color:#505050;
  color: #DCDDDC;
}
form {
  padding-top: 12px;
  padding-left:8.637px;
  background: #767676;
}
legend{
  font-size: 21px; /* 21 / 18 = 1.166666666666667 */
  padding-bottom: 16px; /* 12 / 18 = 0.6666666666666667 */
}
li {
  padding-bottom: 18px; /* 18 / 18 = 1 */
  list-style-type: none;
  padding-left: 7px; /* 7 / 18 = 0.3888888888888889 */
}
li.email {
  padding-bottom: 28px;
}
li.phone {
  padding-bottom: 27px;
}
li.birthday {
  padding-bottom: 52px;
}
li.submit {
  padding-left: 60%;

}
button {
  background:#080808;
  color: #DCDDDC;
  border-color: transparent;
  overflow: visible;
  font: inherit;
}
input {
  background-color: #606060;
  border-color: transparent;
  overflow: visible;
  color:inherit;
  font: inherit;
}
div {
  padding-bottom: 6px;
}
@media screen and (min-width: 565px) {
  html {
    margin-left: 10%;
    margin-right: 10%;
  }

  body {
    display: flex;
    flex-direction: column;
  }
  h1 {
    line-height: 48px; /* 24 / 18 = 1.333333333333333 */
    padding-top: 14px;
    padding-bottom: 13px;
    text-align: center;
    padding-left: 0;
  }
  li.email {
    padding-bottom: 23px;
  }
  li.phone{
    padding-bottom: 26px;
  }
  li.birthday {
    padding-bottom: 25px;
  }
  li.submit {
    padding-left: 30%;
  }
}

@media screen and (min-width:836px) {
  html {
    margin-left: 30%;
    margin-right: 30%;
  }

}
